*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* ----------------------------------------------------폰트------- */

@font-face {
    font-family: "NanumSquareB";
    font-weight:bold;
    src: url(../font/NanumSquareB.woff2);
}

@font-face {
    font-family: "NanumSquareEB";
    font-weight:bold;
    src: url(../font/NanumSquareEB.woff2);
}

@font-face {
    font-family: "NanumSquareR";
    font-weight:normal;
    src: url(../font/NanumSquareR.woff2);
}

@font-face {
    font-family: "NotoSansKR-L";
    font-weight:normal;
    src: url(../font/NotoSansKR-Light.woff2);
}

@font-face {
    font-family: "NotoSansKR-R";
    font-weight:normal;
    src: url(../font/NotoSansKR-Regular.woff2);
}



/* 레이아웃시작 */


/*  --------------------------------------------header------- */

#wrap {
    width: 100%;
}

header {
    width: 1313px;
    height: 165px;
    margin: 0 auto;
    display: flex;
}

header h1 {
    width: 500px;
    margin-top: 100px;
    padding: 0 155px 0px 20px ;
}

header h1 img {
    width: 100%;
}

header .gnb {
    width: 800px;
    height: 165px;
    /* border: 1px solid; */
    padding-top: 120px;
    z-index: 5;
}

header .gnb>ul {
    display: flex;
}


header .gnb>ul>li>a {
    width: 150px;
    font-size: 20px;
    display: block;
    /* text-align: center; */
    font-family: "NanumSquareB";
    /* border: 1px solid rebeccapurple; */
    padding-bottom: 40px;
    padding-left: 10px;
}

header .gnb>ul>li:hover>a {
    border-bottom: 2px solid #15589c;
}

header .gnb .sub>li>a {
    display: block;
    width: auto;
    margin-top: 8px;
    font-size: 14px;
    font-family: "NotoSansKR-R";
    /* border: 1px solid; */
    padding-left: 10px;
}

header .gnb .sub>li>a:hover {
    text-decoration: underline;
    /* border-bottom: 1px solid #15589c; */
}

header .gnb .sub .gr {
    color: #a4a4a4;
}

header .drop_box {
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: white;
    top: 165px;
    z-index: 3;
    left: 0;
    /* border: 1px solid #c1bfbf; */
}


header nav {
    position: absolute;
    /* position: fixed; */
    margin: 0 auto;
    z-index: 9;
}

header nav>ul {
    display: flex;
    width: 400px;
    margin-left:  880px;
}

header nav>ul>li {
    flex: 1;
    text-align: center;
    
}

header nav>ul>li>a {
    font-size: 12px;
    font-family: "NanumSquareR";
}

header nav>ul>li>a:hover{
    font-weight: bold;
}


/*  --------------------------------------------visual------- */

.visual {
    /* position: relative; */
    width: 100%;
    height: 720px;
}

.visual .bac {
    /* display: block; */
    width: 100%;
    height: 300px;
    background-color: #206bb4;
}


.visual .a-box {
    position: absolute;
    width: 1110px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.visual .a-box .a-box1 {
    width: 1112px;
    line-height: 60px;
    display: flex;
    position: absolute;
    font-size: 19px;
    font-family: "NanumSquareEB";
    /* border: 1px solid; */
    justify-content: space-between;
    margin-top: 30px;
}

.visual .a-box .a-box1 li {
    width:1110px;
    height: 80px;
    background-color: #a0a0a0;
    border-radius: 20px 20px 0 0;
    margin-right: 2px;
}

.visual .a-box .a-box1 li a {
    display: block;
    background-color: #a0a0a0;
    border-radius: 20px 20px 0 0;
    color: white;
    text-align: center;
    font-size: 19px;
    /* margin-right: 2px; */
    
    
}

.visual .a-box .a-box1 li a.on {
    background-color: white;
    color: black;
    
}

/* ------------------------------------------------ */

.visual .a-box .a-box3 {
    position: absolute;
    /* border: 1px solid; */
    width: 100%;
    top: -75px;
    padding-left: 70px;
}

.visual .a-box .a-box3 li {
    position: absolute;
    font-size: 50px;
    color: white;
    font-family: "NanumSquareEB";
}


/* ----------------------------------------------------승차권 예매창 */

.visual .a-box .a-box2 {
    width: 100%;
    height: 300px;
    margin-top: 80px;
    position: relative;
}

.visual .a-box .a-box2>li {
    position: absolute;
    display: flex;
    background-color: white;
    width: 100%;
    height: 500px;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid gainsboro;
}

.visual .a-box .a-box2 .a-box_l {
    flex: left;
    width: 30.5%;
    height: 300px;
}

.visual .a-box .a-box2 .a-box_l .movebutton {
    display: flex;
    width: 220px;
    height: 33px;
    border-radius: 20px;
    background-color: #ece9e9;
    margin: 45px auto;
    position: relative;
}

.visual .a-box .a-box2 .a-box_l .move {
    position: absolute;
    width: 75px;
    height: 33px;
    background-color: #1966b2;
    border-radius: 20px;
    z-index: 0;
    transition: left 0.3s ease;
    left: 33.33%;
}

.visual .a-box .a-box2 .a-box_l .move-1 {
    z-index: 1;
    flex: 1;
    text-align: center;
    line-height: 33px;
    font-weight: 500;
    font-size: 14px;
    color: #7d7d7d;
    cursor: pointer;
}

.visual .a-box .a-box2 .a-box_l .move-1:hover {
    color: rgb(75, 75, 75);
}

.visual .a-box .a-box2 .a-box_l .move-1.on1 {
    color: white;
}

.visual .a-box .a-box2 .a-box_l .place {
    text-align: center;
    width: 220px;
    height: 130px;
    margin: 0 auto;
    padding: 10px;
}

.visual .a-box .a-box2 .a-box_l .place .pl1 {
    display: flex;
}

.visual .a-box .a-box2 .a-box_l .place .pl1 span {
    width: 60px;
    font-size: 30px;
    font-family: "NanumSquareEB";
}

.visual .a-box .a-box2 .a-box_l .place .pl1 button {
    border: none;
    background: none;
    margin: 5px 22px 0px 22px;
    
}

.visual .a-box .a-box2 .a-box_l .place .pl2 {
    display: flex;
}

.visual .a-box .a-box2 .a-box_l .place .pl2 p {
    font-family: "NotoSansKR-L";
    font-size: 14px;
    margin-top: 5px;
    margin-left: 10px;
}

.visual .a-box .a-box2 .a-box_l .place .pl2 p:last-child {
    margin-left: 95px;
}

.visual .a-box .a-box2 .a-box_r {
    width: 52%;
    height: 300px;    
    /* border: 1px solid; */
}

.visual .a-box .a-box2 .a-box_r .linebox1 {
    width: 700px;
    height: 35px;
    margin-top: 47px;
    /* border: 1px solid; */
}

.visual .a-box .a-box2 .a-box_r .linebox1 ul {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
}

.visual .a-box .a-box2 .a-box_r .linebox1 ul li {
    /* width: 140px; */
    line-height: 30px;
    text-align: center;
    font-size: 17px;  
    font-family: "NotoSansKR-L";  
    cursor: pointer;
    /* border: 1px solid; */
}

.visual .a-box .a-box2 .a-box_r .linebox1 ul li.on2 {
    font-family: "NanumSquareEB";
    color: #051135;
}

.visual .a-box .a-box2 .a-box_r .linebox1 ul li:hover {
    border-bottom: 2px solid #1966b2;
}



.visual .a-box .a-box2 .a-box_r .linebox2 {
    margin-top: 20px;
    width: 550px;
    height: 35px;
    
}

input#user-date::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 485px;
    width: 24px;
    height: 23px;
    background: url(../images/calender_b.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.visual .a-box .a-box2 .a-box_r .linebox2 .st {
    width: 297px;
    border: none;
    border-bottom: 1px solid gainsboro;
    text-align: center;
    color: #7d7d7d;
    padding: 6px;
}

.visual .a-box .a-box2 .a-box_r .linebox2 .st:hover {
    border-bottom: 1px solid #1966b2;
}

.visual .a-box .a-box2 .a-box_r .linebox2 .st2 {
    width: 245px;
    border: none;
    border-bottom: 1px solid gainsboro;
    text-align: center;
    color: #7d7d7d;
    padding: 6px;
    cursor: pointer;
}

.visual .a-box .a-box2 .a-box_r .linebox2 .st2:hover {
    border-bottom: 1px solid #1966b2;
}


.visual .a-box .a-box2 .a-box_r .linebox3 {
    margin-top: 10px;
    width: 550px;
    height: 35px;
    
}

.visual .a-box .a-box2 .a-box_r .linebox3 select:hover {
    border-bottom: 1px solid #1966b2;
}

.visual .a-box .a-box2 .a-box_r .linebox3 select {
    width: 180px;
    border: none;
    border-bottom: 1px solid gainsboro;
    text-align: center;
    color: #7d7d7d;
    padding: 6px;
    cursor: pointer;
}

.visual .a-box .a-box2 .a-box_rr {
    width: 20%;
    height: 300px;
}

.visual .a-box .a-box2 .a-box_rr button {
    margin-top: 180px;
    margin-left: 50px;
    width: 140px;
    height: 52px;
    border: none;
    background-color: #1966b2;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-family: "NanumSquareB";
    cursor: pointer;
}

.visual .a-box .a-box2 .a-box_rr button:hover {
    font-size: 22px;
    box-shadow: inset 0px 0px 7px 7px #15589c;
    border: 1px solid rgb(74, 75, 76);
}



/* ---------------------------------------------visual2 */

.visual2 {
    position: relative;
    width: 100%;
    height: 800px;
    border: 1px solid green;
}


/*  --------------------------------------------footer------- */

footer {
    bottom: 0;
    width: 100%;
    height: 210px;
    border-top: 1px solid rgb(180, 180, 180);
    padding: 20px;
    /* overflow: hidden; */
    border: 1px solid red;
}

footer .foot {
    width: 1300px;
    height: 110px;
    border: 1px solid;
    margin: 0px auto;
    position: relative;
    padding: 30px 0;
}

footer .foot::after {
    content: "";
    display: block;
    clear: both;
}

footer .foot h1 {
    right: 0px;
    position: absolute;
}

footer .foot h3 {
    margin-top: 30px;
    color: rgb(143, 143, 143);
    font-family: "NanumSquareEB";
}

footer .foot address {
    float: left;
    font-style: normal;
    font-size: 12px;
    color: rgb(143, 143, 143);
    font-family: "NotoSansKR-L";
}

footer .foot span {
    float: right;
    display: block;
    width: 300px;
    font-size: 12px;
    color: rgb(143, 143, 143);
    font-family: "NotoSansKR-L";
}

footer .foot2 {
    width: 1500px;
    height: 80px;
    margin: 0 auto; 
    /* border: 1px solid; */
}

footer .foot2 ul {
    display: flex;
    justify-content: space-evenly;
}

footer ul li img {
    width: 180px;
    margin-top: 15px;
}




/* --------------------------------------------퀵메뉴 */

.r-f {
    width: 90px;
    height: 150px;
    position: fixed;
    top: 70%;
    right: 20px;
    display: flex;
    z-index: 1000;
    margin: 0 auto;
}
.r-f .top {
    position: absolute;
    font-size: 25px;
    width: 60px;
    line-height: 60px;
    background-color: rgba(236, 155, 40, 0.7);
    border-radius: 50px;
    text-align: center;
    color: white;
    cursor: pointer;
    z-index: -2;
    margin-left: 9px;
}

.r-f .top:hover {
    background-color: rgba(236, 155, 40, 1);
}

.r-f .quick {
    position: absolute;
    width: 80px;
    line-height: 80px;
    background-color: rgba(236, 155, 40, 1);
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    bottom: 0;
    z-index: 1000;
}

.r-f .as-s {
    position: absolute;
    right: -390px;
    width: 435px;
    height: 232px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 30px;
    padding: 20px 50px ;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: -1;
    transition: all 0.3s ease;
}

.r-f .as-s .p1{
    font-size: 17px;
    margin-top: 20px;
    font-family: "NotoSansKR-L";
    font-weight: bold;
}

.r-f .as-s .p2 {
    margin-left: 20px;
    margin-top: 40px;
    font-family: "NotoSansKR-L";
    font-weight: bold;
}

.r-f .as-s .p3 {
    margin-left: 25px;
    margin-top: 60px;
    font-family: "NotoSansKR-L";
    font-weight: bold;
}

.r-f .as-s .p4 {
    font-size: 17px;
    margin-top: 110px;
    font-family: "NotoSansKR-L";
    font-weight: bold;
}

.r-f .as-s .p5 {
    margin-top: 140px;
    margin-left: 25px;
    font-size: 24px;
    font-family: "NanumSquareB";
}
.r-f .as-s .p6 {
    margin-top: 140px;
    margin-left: 170px;
    font-family: "NotoSansKR-L";
    font-weight: bold;
    font-size: 14px;
}

.r-f .as-s p {
    position: absolute;
}

.r-f .as-s span {
    display: block;
    margin-left: 230px;
    margin-top: 10px;
    border: 2px dotted #ec9b28;
    width: 105px;
    line-height: 43px;
    border-radius: 20px;
    text-align: center;
    color: #3465c8;
    font-size: 18px;
    font-family: "NanumSquareEB";
    cursor: pointer;
}

.r-f .as-s span:hover {
    background-color:  rgba(236, 155, 40, 0.3);
}